.bgfield {
    background-image: url(../images/battlefield.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dimg {
  height: 65vh;
}

